html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  background-color: #f7f7f7;
  flex-wrap: nowrap;
  gap: 20px;
}

.first-pane {
  flex: 1;
  height: 100vh;
}

.second-pane {
  flex: 2;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.third-pane {
  flex: 1;
}

.video-wrapper {
  aspect-ratio: 16/9;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0 20px 20px;
}

.section {
  width: 100%;
  flex: 1;
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.section-label {
  font-weight: normal;
  padding: 0;
  margin: 0;
  flex: 1;
}

.face-emotion-bar-graph {
  flex: 2;
  display: flex;
  gap: 40px;
  align-items: flex-end;
  transition: height 0.5s ease;
}

.face-bar-container {
  width: 40px;
}

.face-bar {
  transition: height 0.5s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.voice-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 2;
}

.voice-emotion-bar-graph {
  flex: 2;
  display: flex;
  gap: 40px;
  align-items: flex-end;
  transition: height 0.5s ease;
}

.voice-bar-container {
  width: 40px;
}

.voice-bar {
  transition: height 0.5s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}